ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

/*Estilizando os icones (fab é uma classe que está nos icones)*/
.fab{
    font-size: 35pt;
    color: #807e7e;
    padding: 10px;
}

/*Alterar a cor dos ícones ao passar o mouse*/
.fa-linkedin-in:hover{
    color: #0e76a8;
}
.fa-discord:hover{
    color: #7b68ee;
}
.fa-github:hover{
    color: #000000;
}
