<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
            <img src="http://static1.squarespace.com/static/5aa74e0a506fbe5eef56c5c7/5b71be6c562fa726911dfab8/5b71f48921c67c3f307ab2d8/1534365021636/001+Bulbasaur.png?format=1500w" alt="Foto do usuário" width="50px" height="50px" class="img-fluid rounded-circle">
        </li>
        <li class="nav-item p-3">
          <p class="m-0 font-weight-bold text-white fs-16">Nome do usuário</p>
        </li>
        <li>
            <a href="">
                <p class="m-0 text-white fs-16">
                    <i class="fas fa-user-edit"></i>
                </p>
            </a>
        </li>
      </ul>
      
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <a href="" class="m-0 font-weight-bold text-white fs-16">Sair <i class="fas fa-sign-out-alt"></i></a>
      </ul>
    </div>
  </nav>